body {
    font-family: Arial, sans-serif;
    background-color: rgb(198 241 196 / 0.78);
    padding: 20px;
    margin: 0;
}

.conteudo {
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1 {
    color: #1e6b2b;
    border-bottom: 3px solid #bc1a1d;
    padding-bottom: 8px;
}


.tabela-responsiva {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #2f9e41;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}


td[colspan="11"] {
    text-align: center;
    color: #666;
    font-style: italic;
    padding: 20px;
}
